@import '../../shared/styles/grid.scss';
$red: red;

.common {
  background:#eee;
}

.root {
  composes: common;
  composes: span from '../../shared/styles/grid.scss';
  border-width: 2px;
  border-style: solid;
  border-color: $red;
  padding: 0 20px;
  margin: 0 6px;
  
  a {
    color:$red;
    &:hover {
      color: blue;
    }
  }
}

.text {
  color: #777;
  font-size: 24px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 600;
}